/*-------------------- Header --------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #202020;
}

/*---------- Nav ----------*/

.logo {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 2rem;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navList li a {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.openMenu,
.closeMenu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.openMenu {
    color: white;
}

.closeMenu {
    color: white;
}

.navClass {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.navClass.visible {
    opacity: 1;
    visibility: visible;
}

.navList {
    flex-direction: column;
    align-items: end;
}

.navList li a {
    color: #ecececec;
}

/*-------------------- Body --------------------*/
body {
    background-color: #272727;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

/*---------- Forms ----------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactUs {
    font-size: 50px;
    margin-block: 3rem 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: block;
    cursor: pointer;
}

input {
    border: none;
    width: 400px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding-inline: 10px;
    border-radius: 5px;
}

textarea {
    border: none;
    width: 400px;
    height: 250px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    resize: none;
}

form div {
    display: flex;
    flex-direction: column;
}

#inputSubmit {
    margin-top: 1rem;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.formInput:focus {
    border: 3px solid grey;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    outline: none;
}

/*---------- Validations Inputs ----------*/
.formInputError {
    font-size: 12px;
    margin-top: 10px;
    display: none;
    max-width: 400px;
    text-align: center;
}

.formInputErrorActive {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.formGroupCorrect .formLabel {
    color: #1ed12d;
}

.formGroupCorrect{
    color: #1ed12d;
	opacity: 1;
}

.formGroupCorrect .formInput {
    border: 3px solid #1ed12d;
}

.formGroupIncorrect .formLabel {
    color: #bb2929;
}

.formGroupIncorrect {
    color: #bb2929;
	opacity: 1;
}

.formGroupIncorrect .formInput {
    border: 3px solid #bb2929;
}

/*----- Message -----*/
.formMessageClass p {
    margin: 0;
}
.formMessageClass {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    margin-top: 20px;
    display: none;
}

.formMessageActive {
    display: block;
}

.formMessageSuccessfulClass {
    margin-top: 20px;
    font-size: 20px;
	color: #119200;
	display: none;
}

.formMessageSuccessfulActive {
    display: block;
}

.formGroupBtnSend {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonSend {
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#buttonSend a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: black;
    font-size: 12px;
}



/*-------------------- Media Queries --------------------*/

@media only screen and (max-width: 425px) {
    .contactUs {
        font-size: 35px;
    }

    input {
        width: 370px;
    }

    textarea {
        width: 370px;
    }

    .formMessageClass {
        width: 300px;
        height: 90px;
        font-size: 12px;
        text-align: center;
    }

    .formInputError {
        text-align: center;
    }

    .formMessageSuccessfulClass {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .contactUs {
        font-size: 35px;
    }

    input {
        width: 300px;
    }

    textarea {
        width: 300px;
    }

    .formMessageClass {
        width: 300px;
        height: 90px;
        font-size: 12px;
        text-align: center;
    }

    .formInputError {
        text-align: center; 
    }

    .formMessageSuccessfulClass {
        text-align: center;
    }
}