/*-------------------- Header --------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #202020;
}

/*---------- Nav ----------*/

.logo {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 2rem;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navList li a {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.liRankingClass {
    color: white;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.openMenu,
.closeMenu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.openMenu {
    color: white;
}

.closeMenu {
    color: white;
}

.navClass {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.navClass.visible {
    opacity: 1;
    visibility: visible;
}

.navList {
    flex-direction: column;
    align-items: end;
}

.navList li a {
    color: #ecececec;
}

/*-------------------- Body --------------------*/
body {
    text-align: center;
    background-color: #272727;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------- Simon ----------*/

#levelTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin-block: 2rem; /*margin: 3rem;*/
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.row {
    display: flex;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 20px;
    padding: 15px;
    background-color: #ccc;
    font-size: 16px;
    color: #222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 50px;
}

.btnSimon {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    cursor: pointer;
}

.scoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreDiv p {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: red;
    padding-left: 10px;
}

.red {
    background-color: #EE6352;
}

.green {
    background-color: #57A773;
}

.blue {
    background-color: #08B2E3;
}

.yellow {
    background-color: #FFDF64;
}

.gameOver {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.timeClass, .score {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.penaltyClass {
    color: red;
}

/*------------------ Modal -------------------*/
.enterNameClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    font-family: 'Press Start 2P', cursive;
    background-color: #202020;
    color: white;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.formLabel {
    font-size: 30px;
}

.formInput {
    margin-block: 20px;
    width: 500px;
    height: 50px;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    border: none;
    border-radius: 5px;
}

.formInput:focus {
    border: 3px solid grey;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    outline: none;
}

.formInputError {
    margin-bottom: 20px;
    display: none;
}

.formInputErrorActive {
    display: block;
}

.formGroupCorrect .formLabel {
    color: #1ed12d;
}

.formGroupCorrect{
    color: #1ed12d;
	opacity: 1;
}

.formGroupCorrect .formInput {
    border: 3px solid #1ed12d;
}

.formGroupIncorrect .formLabel {
    color: #bb2929;
}

.formGroupIncorrect {
    color: #bb2929;
	opacity: 1;
}

.formGroupIncorrect .formInput {
    border: 3px solid #bb2929;
}

.formBtn {
    font-family: 'Press Start 2P', cursive;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

/*---------- Ranking ---------*/
.rankingModalClass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.rankingModalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    padding-inline: 5px;
}

.close:hover {
    color: #bbb;
    /*Agregar algo mas*/
    border-radius: 5px;
    /* background-color: #444; */
}

.h2Ranking {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Press Start 2P', cursive;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 5px solid #ddd;
}

tr:last-child {
    border-bottom: none;
}

tr:hover {
    background-color: #444;
}

th {
    background-color: #444;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #303030;
}

tbody tr:nth-child(odd) {
    background-color: #252525;
}

.rankingBtn {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #444;
    margin-top: 15px;
    margin-inline: 10px;
    cursor: pointer;
}

/*---------- Hide ----------*/
.hide {
    display: none;
}

/*-------------------- Media Qeuries --------------------*/

@media only screen and (max-width: 768px) {
    #levelTitle {
        font-size: 30px;
        margin-block: 1.5rem;
    }

    .timeClass, .score {
        font-size: 20px;
    }
}

@media only screen and (max-width: 425px) {
    /*---------- Navbar ---------*/
    header {
        padding: 1rem;
    }

    .logo {
        font-size: 20px;
    }

    /*---------- Simon ---------*/
    #levelTitle {
        font-size: 30px;
        margin-block: 2rem;
    }

    .timeClass, .score {
        font-size: 20px;
        margin-block: 1rem;
    }

    .btnSimon {
        margin: 10px;
        height: 190px;
        width: 190px;
    }

    /*---------- Modal ---------*/
    .formLabel {
        font-size: 20px;
    }

    .formInput {
        width: 330px;
    }
}

@media only screen and (max-width: 375px) {
    /*---------- Simon ---------*/
    .timeClass, .score {
        font-size: 20px;
        margin-block: 1rem;
    }

    .btnSimon {
        margin: 10px;
        height: 160px;
        width: 160px;
    }

    /*---------- Modal ---------*/
    .formLabel {
        font-size: 20px;
    }

    .formInput {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    /*---------- Simon ---------*/
    .timeClass, .score {
        font-size: 20px;
        margin-block: 1rem;
    }

    .row {
        flex-direction: column;
    }

    .controls {
        display: flex;
        flex-direction: column;
    }

    .btnSimon {
        margin: 10px;
        height: 140px;
        width: 140px;
    }

    /*---------- Modal ---------*/
    .formLabel {
        font-size: 20px;
    }

    .formInput {
        width: 300px;
    }
}